#ForgetPassword {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(220deg, #007bff 40%, #dad1c0);
  position: relative;

  .main {
    width: 60%;
    border-radius: 20px;
    height: 28rem;
    margin: auto;
    display: flex;
    overflow: hidden;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.2);
    .imgSection {
      background-color: #007bff;
      width: 60%;
      overflow: hidden;
      margin-bottom: -20px;
      padding-top: 5rem;

      img {
        display: flex;
        width: 80%;
        height: 90%;
        margin: auto;
        transform: scaleX(-1);
        filter: drop-shadow(0 0 0.25rem rgb(43, 41, 41));
      }
    }
    .formSection {
      background-color: white;
      padding: 1rem;
      width: 40%;

      p {
        color: #007bff;
      }

      .p2 {
        font-weight: 700;
        font-size: 1.2rem;
      }

      .form {
        display: flex;
        flex-direction: column;
        margin: 5rem auto;
        justify-content: center;
        width: 80%;

        .p3 {
          display: flex;
          justify-content: center;
          font-weight: 600;
        }
        .inputBox {
          position: relative;

          input:focus ~ label,
          input:valid ~ label {
            color: black;
            font-size: 0.9rem;
            transform: translateY(-20px);
            text-transform: capitalize;
          }

          input {
            width: 100%;
            border: none;
            margin-top: 1rem;
            border-bottom: 2px solid black;
            height: 2rem;
            outline: none;
            font-size: 1rem;
          }
          label {
            font-size: 1rem;
            position: absolute;
            top: 1.5rem;
            left: 0;
            color: rgba(0, 0, 0, 0.473);
            pointer-events: none;
            transition: 0.2s;
          }
        }

        .resetDiv {
          display: flex;
          justify-content: flex-end;
          margin-top: 5px;
          .resetPass {
            text-decoration: none;
            cursor: pointer;
            color: black;
          }
        }

        button {
          display: flex;
          margin-top: 2rem !important;
          margin: auto;
          justify-content: center;
          width: 8rem;
          height: 1.5rem;
          border: none;
          background-color: #007bff;
          color: white;
          align-items: center;
          font-size: 0.95rem;
          cursor: pointer;
        }
      }
      .signup {
        display: flex;
        margin-top: -4rem !important;
        margin: auto;
        justify-content: center;
        text-decoration: none;
        color: #007bff;
        align-items: center;
        font-size: 0.8rem;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  #ForgetPassword .main {
    width: 80%;
    height: 40%;
    .imgSection {
      display: none;
    }
    .formSection {
      width: 100%;

      .p2 {
        font-size: 1rem;
      }

      .signup {
        margin-top: -1rem !important;
      }

      .form {
        width: 90%;
        margin: 2rem auto;
        .p3 {
          font-size: 0.9rem;
        }
      }
    }
  }
}
