#userList {
  display: grid;
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  grid-template-columns: 1fr 5fr;

  .userListContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-left: 1px solid gray;

    #Users {
      width: 80%;
      margin: auto;
      margin-top: 2rem;
      margin-bottom: 2rem;

      h1 {
        margin-bottom: 1rem;
      }

      .user {
        filter: drop-shadow(0 0 0.1rem rgb(0, 0, 0));
        background-color: white;
        width: 100%;
        padding: 1rem;
        margin-bottom: 1rem;
        border-radius: 10px;
      }
    }

    h1 {
      text-align: center;
    }

    table {
      width: 100%;
      border-collapse: collapse;

      thead {
        font-weight: 600;
        font-size: 1.4vmax;
        height: 2rem;
        background-color: #2874f0;
        color: white;
      }

      tbody {
        font-weight: 500;

        tr {
          font-size: 1.2vmax;
          .red {
            color: red;
          }

          .yellow {
            color: yellow;
          }
          .green {
            color: green;
          }
          td {
            text-align: center;
            border: none;

            img {
              display: flex;
              flex-direction: row;
              width: 3rem;
              height: 3rem;
              object-fit: cover;
              border-radius: 50%;
            }

            a {
              color: black;
            }

            svg {
              cursor: pointer;
              margin: 0.5rem;
              font-size: 1.5rem;
              transition: all 0.5s;
            }

            .delete {
              background-color: red;
              color: black;
              width: 50px;
              height: 50px;
            }
            svg:hover {
              color: #2874f0;
              scale: 1.2;
            }
          }

          button {
            padding: 5px 10px;
            font-size: 1.2vmax;
            background-color: #2874f0;
            color: white;
            border: none;
            cursor: pointer;
          }
        }
      }
    }
  }

  .Pagination {
    display: flex;
    width: 20rem;
    margin: auto;
    align-items: center;

    p {
      margin: 0.5rem;
    }

    button {
      margin-left: 5px;
      height: 30px;
      width: 50px;
      color: white;
      border: none;
      background-color: #2874f0;
      border-radius: 5px;
    }
    button:disabled {
      cursor: not-allowed;
      background-color: rgb(197, 193, 193);
      color: black;
    }
  }
}

@media screen and (max-width: 600px) {
  #userList {
    grid-template-columns: 1fr;

    .userListContainer {
      border-left: none;

      #Users {
        width: 100%;
        .user {
          width: 90%;
          margin: auto;

          table {
            thead {
              font-size: 1.4vmax;
            }
          }

          img {
            width: 2rem;
            height: 2rem;
          }
          svg {
            cursor: pointer;
            margin: 0.5rem;
            font-size: 1rem;
            transition: all 0.5s;
          }
        }
      }
    }

    .Pagination {
      display: flex;

      width: 15rem;
      margin: auto;
      margin-top: 1rem;
      align-items: center;

      p {
        margin: 0.5rem;
        font-size: 0.8rem;
      }

      button {
        margin-left: 5px;
        height: 25px;
        width: 40px;
        color: white;
        font-size: 0.8rem;
        border: none;
        background-color: #2874f0;
        border-radius: 5px;
      }
      button:disabled {
        cursor: not-allowed;
        background-color: rgb(197, 193, 193);
        color: black;
      }
    }
  }
}
